@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="home-title vh-100 align-items-center justify-content-center">
    
    <div class="container ">
        <div class="d-sm-flex mb-3 search-div" style="height: 100vh; align-items:center; justify-content:center;">
            <h1 class="text-light">Поиск попутчиков</h1>
            <div class="form-outline form-white">
                <input type="text" class="form-control" />
                <label class="form-label" >Откуда</label>
            </div>
            <div class="form-outline form-white">
                <input type="text" class="form-control" />
                <label class="form-label">Куда</label>
            </div>
            <div class="form-outline form-white">
                <input type="date" class="form-control" />
                <label class="form-label">Когда</label>
            </div>
            <div>
                <a class="btn btn-warning" asp-area="" asp-page="/Trips">Поехали!</a>
            </div>
        </div>
    </div>
</div>

<div class="container align-content-center align-items-center mt-5 overflow-hidden">
    <h3 class="h3 font-weight-bold text-center text-dark">Планируете поездку на машине ?</h3>
    <div class="row justify-content-center text-center mt-5 ">
        <div class="col-6">
            <div style="background-image:url(/car.png);" class="homepage-images"></div>
            <h5 class="h5 font-weight-bold text-black">Экономьте на бензине</h5>
            <p class="lead text-muted" style="font-size:small">Предложите поездку — пассажиры оплатят до 100% ваших дорожных расходов</p>
        </div>
        <div class="col-6">
            <div style="background-image:url(/driver.png);" class="homepage-images"></div>
            <h5 class="h5 font-weight-bold text-black">Попутчики не дадут скуча­ть в пути</h5>
            <p class="lead text-muted" style="font-size:small">Совместные поездки — это отличный способ скоротать время в дороге в приятной компании</p>
        </div>
    </div>
    <button type="button" class="btn align-self-center btn-outline-primary mt-5">Предложить поездку</button>
</div>

<div class="container justify-content-center text-black mt-5 mb-5 overflow-hidden" style="background: lightgray; padding:revert;">
    <h3 class="h3 font-weight-bold text-center pt-5">Хотите путешествовать с выгодой и комфортом?</h3>
    <h5 class="h5 font-weight-bold text-center">Мы создали BeepCar, чтобы помочь людям экономить в дороге</h5>
    <div class="row mt-5">
        <div class="col-sm">
            <div style="background-image:url(/train.png);" class="homepage-bottom-images"></div>
        </div>
        <div class="col-sm m-4">
            <h5 class="h5 font-weight-bold">дешевле поезда</h5>
            <p class="lead text-muted" style="font-size:small;">Забудьте о расписаниях и пересадках — просто выбирайте удобное время, водителя и цену</p>
        </div>
    </div>
    <div class="row mt-4 pb-4">
        <div class="col-sm m-4">
            <h5 class="h5 font-weight-bold">комфортнее автобуса</h5>
            <p class="lead text-muted" style="font-size:small;">
                В любое время из любой точки вы выбираете комфортный автомобиль и приятную компанию
            </p>
        </div>
        <div class="col-sm">
            <div style="background-image:url(/bus.png);" class="homepage-bottom-images"></div>
        </div>
    </div>
</div>
